<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans xmlns="http://www.springframework.org/schema/beans">
    <bean id="mainClass" class="uk.ac.glasgow.dcs.psd.WebAppApplication">
        
    </bean>
</beans>