/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
div#dropZone {
    background: #ff9800;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0.6;
    visibility: hidden;
}

html{
color:#58595B;}


.material-icons{

    color: #1B3A6A !important;
}

.orange-text{
	color: #4e914d !important;
}

.orange{

    background: #1B3A6A !important;
}

.light-blue.lighten-1{
	background: #1C4587 !important;
}

label.btn-large.waves-effect.waves-light.orange{
	background: #5B5B5B !important;
}

.material-icons.right{color:white !important;}

#header-text
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: x-large;
	color: #27ae60;
	text-align: left;

	margin-bottom: -1.5%;
	margin-left: 4%;

}
#header-text2 {
	//margin-top: 1.8%;
	margin-left: 4%;
	margin-bottom: 0.5%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: medium;
}
#header-img {
	float: right;
	max-height:64px;
}